{% extends "index/adminbase.html" %}


{% load static %}

{% block content %}
	<div class="dashbody fromleft">
			<div class="innernavpanel">
				<a href="#" data-access="#allcomplains" class="innernav innernavshowactive">Complains</a>
				<a href="#" data-access="#messages" class="innernav">Messages</a>
			</div>
		
			<div class="innernavactive" id="allcomplains">
				<h2>All Complains({{allcomplains | length}})</h2>
				{% if allcomplains %}
					{% for complain in allcomplains %}
						<div class="infodrop">
							
							<div>
								<!-- Info that always show -->
								<div class="sm-rol-2">
									<div class="col-6">
										<span class="dropfront">{{complain.subject}}</span>
									</div>
								</div>

								<div class="sm-rol-2">
									<div class="col-6">
										{% if complain.msgstatus %}
											<span class="dropfront" id="not{{complain.pk}}">Read</span>
										{% else %}
											<span class="dropfront" id="not{{complain.pk}}">Unread</span>
										{% endif %}
									</div>
									<span class="right more" id="not{{complain.pk}}" data-drop="{{complain.pk}}{{complain.pk}}">More</span>
								</div>
								<!-- Info that show on click -->
								<div class="hide" id="{{complain.pk}}{{complain.pk}}">
									<br>
									<div class="sm-rol-2">
										<div class="col-6">
											<span class="dropfront2">Email: {{complain.email}}</span>
										</div>
									</div>
									<div class="sm-rol-2">
										<div class="col-6">
											<span class="dropfront2">Body: {{complain.body}}</span>
										</div>
									</div>
									<br>
									<br>
									<div class="sm-rol-2">
										<div class="col-6">
											<span class="dropfront2">Staff: {{complain.staff.username}} ({{complain.staff.firstname}} {{complain.staff.lastname}})</span>
										</div>
									</div>
									
									<div class="sm-rol-2">
										<div class="col-6">
											<span class="dropfront2">Date: {{complain.date|date:"d, M, Y G:i"}}</span>
										</div>
									</div>

									<br>
									<br>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		<div class="hide" id="messages">
			<!-- All members messaging form -->
			<form class="messagingform" action="/jimcontrol/admin/sendmessage/" method="post">
				{% csrf_token %}
				<textarea placeholder="Write message to all members" name="message" required></textarea>
				<input type="submit" value="Send message">
			</form>

			<h2>Messages({{notifications | length}})</h2>
			{% if notifications %}
				{% for message in notifications %}
					<div class="infodrop">
						
						<div>
							<!-- Info that always show -->
							<div class="sm-rol-2">
								<div class="col-6">
									<span class="dropfront">{{message.date}}</span>
								</div>
							</div>

							<div class="sm-rol-2">
								<span class="right more" data-drop="{{message.pk}}">More</span>
							</div>
							<!-- Info that show on click -->
							<div class="hide" id="{{message.pk}}">
								<br>
								<div class="sm-rol-2">
									<div class="col-6">
										<span class="dropfront2">Message: {{message.message}}</span>
									</div>
								</div>

								<br>
								<br>
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
{% endblock %}