<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'index/css/style.css' %}">

	<nav class="navbar">
		<span class="logo">Jim Net</span>
		
	</nav>
</head>
<body class="loginbody">
	<ul id="messagelist">
		<p id="reactmessage" class="error hide"></p>
		{% if messages %}
			{% for message in messages %}
				<li id="message" {% if message.tags %} class="{{message.tags}}" {% endif %}>
					{{message}}
				</li>
			{% endfor %}
		{% endif %}
	</ul>
	<div class="loginbody fromleft">

		<div class="reg-container" id="create">
			<img src="{% static 'index/img/user.png' %}" class="legend">
			<form action="" method="post">
				{% csrf_token %}
				<h2 class="white">Sign Up Admin</h2>
				<div class="lg-rol">
					<div class="col-6-lg">
						<label>Username</label>
						<input type="text" name="username" placeholder="Choose Username" required>
					</div>
				</div>
				<div class="lg-rol">
					<div class="col-6-lg">
						<label>Email</label>
						<input type="email" name="email" placeholder="Enter email" required>
					</div>
				</div>
				<div class="rol-1">
					<div class="sm-rol-1">
						<div class="col-5">
							<label>First Name</label>
							<input type="text" name="firstname" placeholder="Enter First Name" required>
						</div>
					</div>

					<div class="sm-rol-2">
						<div class="col-6">
							<label>Surname</label>
							<input type="text" name="lastname" placeholder="Enter Surname" required>
						</div>
					</div>
					<div class="sm-rol-2">
						<div class="col-6">
							<label>Password</label>
							<input type="password" name="password" placeholder="Choose Password" required>
						</div>
					</div>
					<div class="sm-rol-2">
						<div class="col-6">
							<label>Confirm Password</label>
							<input type="password" name="password2" placeholder="Confirm Password" required>
						</div>
					</div>
					<div class="lg-rol">
						<div class="col-6-lg">
							<label>Pincode</label>
							<input type="password" name="pincode" placeholder="Enter Pincode" required>
						</div>
					</div>
				</div>
				<br>
				<input type="submit" value="Register" class="regsubmit">
			</form>
		</div>
	</div>
</body>
</html>