{% extends "index/base.html" %}


{% load static %}

{% block content %}
	<div class="introbody">
		<div class="introslides">
			
			<!-- Slideshow container -->
			<div class="slideshow-container">

			  <!-- Full-width images with number and caption text -->
			  	  <div class="mySlides fade">
				    <img src="{% static 'index/img/img1.jpg' %}" class="slideimg3">
				    <div class="text">Caption Text</div>
				  </div>

				  <div class="mySlides fade">
				    <img src="{% static 'index/img/img2.jpg' %}" class="slideimg3">
				    <div class="text">Caption Two</div>
				  </div>

				  <div class="mySlides fade">
				    <img src="{% static 'index/img/img3.jpg' %}" class="slideimg3">
				    <div class="text">Caption Three</div>
				  </div>

				  <div class="mySlides fade">
				    <img src="{% static 'index/img/favicon.ico' %}" class="slideimg3">
				    <div class="text">Caption Three</div>
				  </div>

				  <!-- Next and previous buttons -->
				  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
				  <a class="next" onclick="plusSlides(1)">&#10095;</a>
			</div>
			<br>

			<!-- The dots/circles -->
			<div style="text-align:center">
			  <span class="dot" onclick="currentSlide(1)"></span> 
			  <span class="dot" onclick="currentSlide(2)"></span> 
			  <span class="dot" onclick="currentSlide(3)"></span>
			  <span class="dot" onclick="currentSlide(4)"></span>
			</div>
		</div>

		<!-- Introduction to JimNet -->
		<h3 class="stayleft">JimNet</h3>
		<p class="introcontent">JimNet is a network marketing business platform own by Jimbola Nig company which deals with co-operate individuals. The company's purpose is to reduce unemployed rate in Nigeria through a systematic referral program to all our involve members. JimNet is here to be the interface between you and your wealth including your health.</p>

		<h3 class="stayleft">OUR VISION</h3>
		<p class="introcontent">Being the multi-capital company with the simplest strategy consisting and yielding the most rewarding benefit with a lesser amount of money.</p>

		<h3 class="stayleft">OUR MISSION</h3>
		<p class="introcontent">Empower, enrich, encourage, enlighten and develop individuals that are willing to eradicate poverty and ready to help others.</p>

		<h3 class="stayleft">OUR CORE VALUE</h3>
		<ul>
			<li>Trust</li>
			<li>Commitment</li>
			<li>Teamwork</li>
			<li>Honesty</li>
			<li>Professionalism</li>
			<li>Integrity</li>
		</ul>
		
		<h3 class="stayleft">HOW DOES IT WORK?</h3>
		<p class="introcontent">JimNet is an online platform which create quick residual income earning within a short period of time, with the fact that all members create positive cash flow. The income earning directly depends on the size of the team you build, the more your team the more money you make.</p>

		<h3 class="stayleft">WHY I RECOMMEND JIMNET?</h3>
		<ol>
			<li>Low registration fee of #100</li>
			<li>Two (2) platform ladder to wealth and health</li>
			<li>The more team you build the more money you make</li>
			<li>No selling or buying of product</li>
		</ol>

		<h3 class="stayleft">BENEFITS</h3>
		<ol>
			<li>Amazing cash benefit</li>
			<li>Personal development</li>
			<li>No financial risk</li>
			<li>Make as much money as making your dreams</li>
			<li>You will end up becoming the owner of your own business and your own boss</li>
		</ol>


		<h3 class="stayleft">MEMBER'S EARNING</h3>
		<div class="dashcontainer">
			<table> 
				<h3 class="stayleft">Stage 1</h3>
				<tr class="heading">
					<td class="confirm">Levels</td>
					<td class="confirm">Network</td>
					<td class="confirm">Earnings</td>
				</tr>

				<tr class="heading">
					<td class="confirm">1</td>
					<td class="confirm">10</td>
					<td class="confirm">#200</td>
				</tr>
				
				<tr class="heading">
					<td class="confirm">2</td>
					<td class="confirm">100</td>
					<td class="confirm">#1,000</td>
				</tr>

				<tr class="heading">
					<td class="confirm">3</td>
					<td class="confirm">1,000</td>
					<td class="confirm">#10,000</td>
				</tr>
			</table>

			<table>
				<h3 class="stayleft">Stage 2</h3>
				<tr class="heading">
					<td class="confirm">Levels</td>
					<td class="confirm">Network</td>
					<td class="confirm">Earnings</td>
				</tr>

				<tr class="heading">
					<td class="confirm">4</td>
					<td class="confirm">10</td>
					<td class="confirm">#100,000</td>
				</tr>
				
				<tr class="heading">
					<td class="confirm">5</td>
					<td class="confirm">100</td>
					<td class="confirm">#1,000,000<sup>+ Tour outside Nigeria </sup></td>
				</tr>

				<tr class="heading">
					<td class="confirm">6</td>
					<td class="confirm">1,000</td>
					<td class="confirm">#5,000,000</td>
				</tr>
			</table>
			<br>
			<img src="{% static 'index/img/tree.jpg' %}" class="treeimg">
			<img src="{% static 'index/img/tree2.jpg' %}" class="treeimg">
			<img src="{% static 'index/img/tree3.jpg' %}" class="treeimg">
		</div>

		<h3 class="stayleft">HOW DO I JOIN JIMNET</h3>
		<p class="introcontent">To join the JimNet business platform you only need to fill the online form at <a href="/signup">Register</a> with a registration code or pay with your card online which cost #100 only and contact the person who introduced you to the system for he/her referring link. Then, start referring and earning.</p>


		<!-- Frequently asked questions -->
		<h3 class="stayleft">FAQs</h3>
		<div class="infodrop2">
			<button class="faqbut more" data-drop="1" id="morebut1" data-content="minus">+</button> <span class="faqtxt">How to register?</span>

			<div class="hide" id="1">
				<p class="introcontent">Pay with your card online or purchase a registration code for #100 from one of JimNet vendors by calling any of the phone numbers below. Fill the online form at <a href="/signup">Register</a> or demand for a referring link from the person that introduce you to the system for attachment and teamwork</p>
			</div>
		</div>

		<div class="infodrop2">
			<button class="faqbut more" data-drop="4" id="morebut4" data-content="minus">+</button> <span class="faqtxt">How can I get or buy registration code</span>

			<div class="hide" id="4">
				<p class="introcontent">Call: Adenike on 08177130670 or Frank on 08144268894 or Ayobami on 07035774665 or Evans on 07039755480. Alternately, use the online payment gateway by selecting card as your payment method</p>
			</div>
		</div>

		<div class="infodrop2">
			<button class="faqbut more" data-drop="2" id="morebut2" data-content="minus">+</button> <span class="faqtxt">What will I do to start earning after registration?</span>

			<div class="hide" id="2">
				<p class="introcontent">Introduce 10 ambitious people into the system to hit the first level, you have to get them registered into the platform using your username as sponsor/referral name in the registration form ( in exact letter case you use in your login or used in your registration form i.e John is different john ). Or simply provide them your referring link in your profile page to avoid mistake. Then when the 10 ambitious people introduced brings in their set of 10 ambitious people each by using their referring link, you will hit level 2, more earning and so on. More progress and shorter distance between you and your dreams. </p>
			</div>
		</div>

		<div class="infodrop2">
			<button class="faqbut more" data-drop="3" id="morebut3" data-content="minus">+</button> <span class="faqtxt">How much is the registration fee?</span>

			<div class="hide" id="3">
				<p class="introcontent">The total cost for registering an individual into the system is #100.</p>
			</div>
		</div>

		<div class="infodrop2">
			<button class="faqbut more" data-drop="5" id="morebut5" data-content="minus">+</button> <span class="faqtxt">How many people do I refer?</span>

			<div class="hide" id="5">
				<p class="introcontent">You need to refer 10 ambitious people to hit level 1 and earn #200 and 50% more if you provide the 10 ambitious people within 7days, then when your 10 people refers their own 10 each, you hit level 2 then get to make your first withdraw and so on. Please check the earning tree above for more clearance?</p>
			</div>
		</div>

		<div class="infodrop2">
			<button class="faqbut more" data-drop="12" id="morebut12" data-content="minus">+</button> <span class="faqtxt">Can I have a multiple account?</span>

			<div class="hide" id="12">
				<p class="introcontent">Yes, but you will later need a unique representative for the Adventurous Stage.</p>
			</div>
		</div>

		<div class="infodrop2">
			<button class="faqbut more" data-drop="8" id="morebut8" data-content="minus">+</button> <span class="faqtxt">How will I withdraw my money?</span>

			<div class="hide" id="8">
				<p class="introcontent">Use the withdraw button on your home/dashboard page. Note: The minimum amount that can be withdrawn is #1,000 and the maximum is #5,000,000. Bank details must be provided in your profile page and a correct pincode chosen during registration must be provided in your withdraw form.</p>
			</div>
		</div>

		<div class="infodrop2">
			<button class="faqbut more" data-drop="899" id="morebut899" data-content="minus">+</button> <span class="faqtxt">Is there Incentive?</span>

			<div class="hide" id="899">
				<p class="introcontent">Yes, getting your first 10 intermediate team within 7days of your account registration earn you 50% bonus of your normal pay. And, at level 5 you will have a free trip/tour to a famous African country</p>
			</div>
		</div>

		<div class="infodrop2">
			<button class="faqbut more" data-drop="10" id="morebut10" data-content="minus">+</button> <span class="faqtxt">What day is the withdrawing day?</span>

			<div class="hide" id="10">
				<p class="introcontent">Withdraw requests are accepted anytime but payment is done on Thursdays.</p>
			</div>
		</div>


		<div class="infodrop2">
			<button class="faqbut more" data-drop="6" id="morebut6" data-content="minus">+</button> <span class="faqtxt">How much is the minimum withdraw amount?</span>

			<div class="hide" id="6">
				<p class="introcontent">The minimum amount you can withdraw is #1,000 and the maximum is #5,000,000.</p>
			</div>
		</div>


		<div class="infodrop2">
			<button class="faqbut more" data-drop="7" id="morebut7" data-content="minus">+</button> <span class="faqtxt">I forgot my password how can I reset it?</span>

			<div class="hide" id="7">
				<p class="introcontent">Click the forget password button in the <a href="/signin">Login</a> page, enter your username in correct letter case, click on 'Reset' then check your mail.</p>
			</div>
		</div>

		<div class="infodrop2">
			<button class="faqbut more" data-drop="22" id="morebut22" data-content="minus">+</button> <span class="faqtxt">How do I know my sponsor/referral?</span>

			<div class="hide" id="22">
				<p class="introcontent">Visit your profile page to see your sponsor username. Use the search form in the top navigation bar for more details about your sponsor.</p>
			</div>
		</div>

		<div class="infodrop2">
			<button class="faqbut more" data-drop="21" id="morebut21" data-content="minus">+</button> <span class="faqtxt">How do I know my team?</span>

			<div class="hide" id="21">
				<p class="introcontent">Simply click on one of the numbers e.g 10, 100 on the network column in your home page, you will be shown a tree containing all your team.</p>
			</div>
		</div>

		<div class="infodrop2">
			<button class="faqbut more" data-drop="291" id="morebut291" data-content="minus">+</button> <span class="faqtxt">Is there a deadline for having your first 10 intermediate team?</span>

			<div class="hide" id="291">
				<p class="introcontent">No, but registering your first 10 intermediate team within 7days after your account registration will earn you 50% bonus of the amount of your normal pay.</p>
			</div>
		</div>

		<div class="infodrop2">
			<button class="faqbut more" data-drop="20" id="morebut20" data-content="minus">+</button> <span class="faqtxt">How can I get the contact details of my team members?</span>

			<div class="hide" id="20">
				<p class="introcontent">Simply search for their username by using the search form in the navigation bar. You can search for as many user by typing their username and seperating them with a comma e.g John, Mark, Abraham 
				<br>
				Note that usernames given must be in exact letter case i.e 'Mark' and 'mark' are two different usernames</p>
			</div>
		</div>

		<div class="infodrop2">
			<button class="faqbut more" data-drop="298" id="morebut298" data-content="minus">+</button> <span class="faqtxt">Is there spillover?</span>

			<div class="hide" id="298">
				<p class="introcontent">Yes, there is and that happens when the sponsor specified in your registration form is already on or more than level 1. So, you automatically get assigned to one of that sponsor's team member that is approaching level 1.</p>
			</div>
		</div>

		<div class="infodrop2">
			<button class="faqbut more" data-drop="299" id="morebut299" data-content="minus">+</button> <span class="faqtxt">Can I overtake my sponsor?</span>

			<div class="hide" id="299">
				<p class="introcontent">Yes, when one or little side of he/her network which you belong is growing more than the other sides. This can be traced by seeing he/her team tree.</p>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		var slideIndex = 1;
		showSlides(slideIndex);

		// Next/previous controls
		function plusSlides(n) {
		  showSlides(slideIndex += n);
		}

		// Thumbnail image controls
		function currentSlide(n) {
		  showSlides(slideIndex = n);
		}

		// Timer to slide the images automatically
		setInterval(function(){
			plusSlides(1);
		}, 5000)

		function showSlides(n) {
		  var i;
		  var slides = document.getElementsByClassName("mySlides");
		  var dots = document.getElementsByClassName("dot");
		  if (n > slides.length) {slideIndex = 1} 
		  if (n < 1) {slideIndex = slides.length}
		  for (i = 0; i < slides.length; i++) {
		      slides[i].style.display = "none"; 
		  }
		  for (i = 0; i < dots.length; i++) {
		      dots[i].className = dots[i].className.replace(" active", "");
		  }
		  slides[slideIndex-1].style.display = "block"; 
		  dots[slideIndex-1].className += " active";
		}
	</script>
{% endblock %}