{% extends "index/base.html" %}

{% load static %}

{% block content %}
	<div class="reg-container">
		<img src="{% static 'index/img/user.png' %}" class="legend">
		<h2 class="white">Membership Registration Form</h2>
	
		<div>
			<form action="" method="post">
				{% csrf_token %}
				<span class="sub-topic">Payment method</span>
				<div class="paymet">
					<input type="radio" name="paymet" value="card" data-id="card" checked> <span class="white">Card</span>
					<input type="radio" name="paymet" value="code" data-id="regcode"> <span class="white">Code</span>
					<input type="radio" name="paymet" value="booking" data-id="booking"> <span class="white">Booking</span>
				</div>
				<br>
				<!-- <div class="lg-rol" id="card">
					<div class="col-6-lg">
						<label>Referral/Sponsor</label>
						<input type="text" name="sponsor" placeholder="Enter Referral" value="{{sponsor}}" required onmouseout="checksponsor()">
					</div>
				</div> -->

				<div class="rol-1">
					<div id="booking" class="hide">
						<div class="sm-rol-1">
							<div class="col-5">
								<label>Agents</label>
								<select name="agent">
									{% for agent in agents %}
										<option value="{{agent.username}}">{{agent.username}}</option>
									{% endfor %}
								</select>
							</div>
						</div>

						<!-- <div class="sm-rol-2">
							<div class="col-6">
								<label>Referral/Sponsor</label>
								<input type="text" name="sponsor" placeholder="Enter Referral" value="{{sponsor}}" required onmouseout="checksponsor()">
							</div> -->
						</div>
					</div>
					<div id="regcode" class="hide">
						<div class="sm-rol-2">
							<div class="col-6">
								<label>Registration code</label>
								<input type="text" name="regcode" placeholder="Enter Registration Code">
							</div>
						</div>

						

					</div>
					<div class="sm-rol-2">
						<div class="col-6">
							<label>Referral/Sponsor</label>
							<input type="text" name="sponsor" placeholder="Enter Referral" value="{{sponsor}}" required onmouseout="checksponsor()">
						</div>
					</div>
					<span class="sub-topic">Personal Information</span>

					<div class="sm-rol-2">
						<div class="col-6">
							<label>First Name</label>
							<input type="text" name="first_name" placeholder="Enter First Name" required>
						</div>
					</div>

					<div class="sm-rol-2">
						<div class="col-6">
							<label>Surname</label>
							<input type="text" name="last_name" placeholder="Enter Surname" required>
						</div>
					</div>
					<div class="sm-rol-2">
						<div class="col-6">
							<label>Phone No</label>
							<input type="text" name="phoneno" placeholder="Enter Phone Number" required>
						</div>
					</div>
					<div class="sm-rol-2">
						<div class="col-6">
							<label>Email</label>
							<input type="email" name="email" placeholder="Enter Email" required>
						</div>
					</div>

				</div>
				<span class="sub-topic">Security Information</span>
				<div class="lg-rol">
					<div class="col-6-lg">
						<label>Username</label>
						<input type="text" name="username" placeholder="Choose Username" onmouseout="checkusername()" required>
					</div>
				</div>
				<div class="rol-1">
					<div class="sm-rol-2">
						<div class="col-6">
							<label>Password</label>
							<input type="password" name="password" placeholder="Choose Password" required>
						</div>
					</div>
					<div class="sm-rol-2">
						<div class="col-6">
							<label>Confirm Password</label>
							<input type="password" name="password2" placeholder="Confirm Password" onmouseout="checkpassquality()" required>
						</div>
					</div>

					<div class="sm-rol-2">
						<div class="col-6">
							<label>Pincode</label>
							<input type="password" name="pincode" placeholder="Confirm Pincode" required>
						</div>
					</div>
					<div class="sm-rol-2">
						<div class="col-6">
							<label>Confirm Pincode</label>
							<input type="password" name="pincode2" placeholder="Confirm Pincode" onmouseout="checkpinquality()" required>
						</div>
					</div>
				</div>
				<p class="forget">Accept Terms and Conditions <input type="checkbox" required></p>
				<input type="submit" value="Register" class="regsubmit">
			</form>
		</div>
	</div>
	<script type="text/javascript" src="{% static 'index/js/reg.js' %}"></script>
{% endblock %}