{% extends "index/base.html" %}


{% load static %}

{% block content %}
	<div class="dashbody fromleft">
		<h2>Search result</h2>
		{% if users_obj %}
			{% for member in users_obj %}
				<div class="infodrop">
					
					<div>
						<!-- Info that always show -->
						<div class="sm-rol-2">
							<div class="col-6">
								<span class="dropfront">{{member.username}}</span>
							</div>
						</div>

						<div class="sm-rol-2">
							<div class="col-6">
								<span class="dropfront">{{member.first_name}} {{member.last_name}}</span>
							</div>
							<span class="right more" data-drop="{{member.pk}}">More</span>
						</div>
						<!-- Info that show on click -->
						<div class="hide" id="{{member.pk}}">
							<br>
							<br>
							<div class="sm-rol-2">
								<div class="col-6">
									<span class="dropfront2">Level: L{{member.level}}</span>
								</div>
							</div>
							<div class="sm-rol-2">
								<div class="col-6">
									<span class="dropfront2">Network: {{member.network}}</span>
								</div>
							</div>

							<br>
							<br>
							<div class="sm-rol-2">
								<div class="col-6">
									<span class="dropfront2">Email: {{member.email}}</span>
								</div>
							</div>

							<div class="sm-rol-2">
								<div class="col-6">
									<span class="dropfront2">Phone No: {{member.phoneno}}</span>
								</div>
							</div>

							<br>
							<br>
							<div class="sm-rol-2" style="margin-top: 30px;">
								<div class="col-6">
									<span class="dropfront2 dropbottom">Last Login: {{member.last_login|date:"d, M, Y G:i"}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
		{% if notfound %}
			<div style="margin: 20px; font-family: arial; text-align: center;">
				<p>Not found</p>
				{% for mem in notfound %}
					<span>{{mem}}, </span>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}